<a href="https://colab.research.google.com/github/Annareddy-vinay/Multi_Disease_Prediction_ML/blob/main/multipred_kidney.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split

In [ ]:
data=pd.read_csv("/content/kidney_disease.csv")

In [ ]:
data.head(165)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,160,81.0,60.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,35,9400,2.4,yes,yes,yes,poor,yes,no,ckd
161,161,62.0,NaN,1.015,3.0,0.0,abnormal,NaN,notpresent,notpresent,...,42,10200,4.8,yes,yes,no,good,no,no,ckd
162,162,59.0,70.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,37,6000,\t?,no,yes,no,good,no,no,ckd
163,163,46.0,80.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,27,8100,3.2,yes,no,no,poor,no,yes,ckd
164,164,14.0,NaN,1.015,0.0,0.0,NaN,NaN,notpresent,notpresent,...,40,9500,5.4,no,yes,no,poor,yes,no,ckd

In [ ]:
data.shape

(400, 26)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [ ]:
data.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [ ]:
data.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [ ]:
data=data.replace({"rbc":{'normal':0,'abnormal':1},"pc":{'normal':0,'abnormal':1},"pcc":{'notpresent':0,"present":1},"ba":{'notpresent':0,"present":1},"htn":{'yes':1,'no':0}
 ,"dm":{'yes':1,'no':0,'\tyes':1,'\tno':0,' yes':1},"cad":{'yes':1,'no':0,'\tno':0},"pe":{'yes':1,'no':0},"ane":{'yes':1,'no':0},"appet":{'good':0,'poor':1}, "classification":{'ckd':1,
'notckd':0,"ckd\t":1},"pcv":{'\t?':data["pcv"].mode()[0],'\t43':data["pcv"].mode()[0]},"wc":{'\t?':data["wc"].mode()[0],'\t6200':data["wc"].mode()[0],'\t8400':data["wc"].mode()[0]},
"rc":{'\t?':data["rc"].mode()[0]}})

In [ ]:
data["rbc"].fillna(data["rbc"].mode()[0],inplace=True)
data["pc"].fillna(data["pc"].mode()[0],inplace=True)
data["pcc"].fillna(data["pcc"].mode()[0],inplace=True)
data["ba"].fillna(data["ba"].mode()[0],inplace=True)
data["pcv"].fillna(data["pcv"].mode()[0],inplace=True)
data["wc"].fillna(data["wc"].mode()[0],inplace=True)
data["rc"].fillna(data["rc"].mode()[0],inplace=True)
data["htn"].fillna(data["htn"].mode()[0],inplace=True)
data["dm"].fillna(data["dm"].mode()[0],inplace=True)
data["cad"].fillna(data["cad"].mode()[0],inplace=True)
data["appet"].fillna(data["appet"].mode()[0],inplace=True)
data["pe"].fillna(data["pe"].mode()[0],inplace=True)
data["ane"].fillna(data["ane"].mode()[0],inplace=True)
data["age"].fillna(data["age"].mean(),inplace=True)
data["bp"].fillna(data["bp"].mean(),inplace=True)
data["sg"].fillna(data["sg"].mean(),inplace=True)
data["al"].fillna(data["al"].mean(),inplace=True)
data["su"].fillna(data["su"].mean(),inplace=True)
data["bgr"].fillna(data["bgr"].mean(),inplace=True)
data["bu"].fillna(data["bu"].mean(),inplace=True)
data["sc"].fillna(data["sc"].mean(),inplace=True)
data["sod"].fillna(data["sod"].mean(),inplace=True)
data["pot"].fillna(data["pot"].mean(),inplace=True)
data["hemo"].fillna(data["hemo"].mean(),inplace=True)

In [ ]:
data.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [ ]:
#data=data.replace({"rbc":{'normal':0,'abnormal':1},"pc":{'normal':0,'abnormal':1},"pcc":{'notpresent':0,"present":1},"ba":{'notpresent':0,"present":1},"htn":{'yes':1,'no':0}
              #,"dm":{'yes':1,'no':0},"cad":{'yes':1,'no':0},"pe":{'yes':1,'no':0},"ane":{'yes':1,'no':0},"appet":{'good':0,'poor':1},"classification":{'ckd':1,'notckd':0}})

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             400 non-null    float64
 2   bp              400 non-null    float64
 3   sg              400 non-null    float64
 4   al              400 non-null    float64
 5   su              400 non-null    float64
 6   rbc             400 non-null    float64
 7   pc              400 non-null    float64
 8   pcc             400 non-null    float64
 9   ba              400 non-null    float64
 10  bgr             400 non-null    float64
 11  bu              400 non-null    float64
 12  sc              400 non-null    float64
 13  sod             400 non-null    float64
 14  pot             400 non-null    float64
 15  hemo            400 non-null    float64
 16  pcv             400 non-null    object
 17  wc              400 non-null    object
 18  rc              400 non-null    object
 19  htn             400 non-null    float64
 20  dm              400 non-null    float64
 21  cad             400 non-null    float64
 22  appet           400 non-null    float64
 23  pe              400 non-null    float64
 24  ane             400 non-null    float64
 25  classification  400 non-null    int64
dtypes: float64(21), int64(2), object(3)
memory usage: 81.4+ KB

In [ ]:
x=data.drop(columns=["id","classification"])
y=data["classification"]

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
from sklearn import svm
from sklearn.metrics import accuracy_score
model2=svm.SVC(kernel="linear")
model2.fit(x_train,y_train)
y_pred2=model2.predict(x_test)
acc2=accuracy_score(y_pred2,y_test)
acc2

0.9875

In [ ]:
import pickle
filename='.sav'
pickle.dump(model2,open(filename,"wb"))

In [ ]:
load_model=pickle.load(open('crop recomendation.sav','rb'))